// form styles
.m-form{
    display: inline-flex;
    flex-direction: column;
    &__items{
        display: inline-flex;
        flex-direction: column;
    }
    &__item, &__field{
        display: inline-flex;
        flex-direction: column;
        padding-top: 15px;
        width: 350px;
        @include media('<phone') {
            width: 300px;
        }        
    }
    &__label{
        padding-bottom: 10px;
    }
    
}