mixin task-2(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .o-task-two.js-task-two(class=spec.__class)&attributes(attributes)
    h2.o-task-two__title Задача 2 - Щастя в грошах? 
    h3.o-task-two__title Завдання: написати функцію getYears яка буде приймати 4 аргументи (capital, interestRate, taxes, desirableSum) яка буде повертати кількість років.
    +form({ '__class': 'o-task-two__form',
      Items:[
        {
          id:'capital',
          class:'js-task-two-capital',
          text:'Введіть капітал'
        },
        {
          id:'interestRate',
          class:'js-task-two-interest-rate',
          text:'Введіть відсоткову ставку'
        },
        {
          id:'taxes',
          class:'js-task-two-taxes',
          text:'Введіть відсоток податку'
        },
        {
          id:'desirableSum',
          class:'js-task-two-desirable-sum',
          text:'Введіть бажану суму і натисніть Enter'
        },
      ],
        idTextarea:'textareaTasktwo',
        classTextarea:'js-task-two-textarea',
        textTextarea:'Результат:'
    })
